<table style="width: 90%" align="center" class="list_csv">
  <tr>
    <th class="sort-heading" style="width: 25%;" data-attribute="name" onClick="search(this);">Название <span class="caret $(caret)"></span></th>
    <th style="width: 15%;" data-attribute="class">Класс</th>
    <th style="width: 5%;" data-attribute="rooms">Кол-во комнат</th>
    <th style="width: 25%;" data-attribute="address">Адрес</th>
    <th style="width: 10%;" data-attribute="district">Район</th>
    <th style="width: 5%;" data-attribute="discrict_code">Код района</th>
    <th style="width: 15%;" data-attribute="metro">Ближайшее метро</th>
  </tr>
  $(csv_table)
</table>