<nav class="tabs">
    <ul class="clearfix">
        <li class="first $(active1)"><a href="index.bookshelf.html"><span>О сайте</span></a></li>
        <li class="second $(active2)"><a href="mystery.html"><span>Мистика</span></a></li>
        <li class="third $(active3)"><a href="fantasy.html"><span>Фентези</span></a></li>
        <li class="fourth $(active4)"><a href="etc.html"><span>Прочее</span></a></li>
        <li class="fifth $(active5)"><a href="resources.html"><span>Ресурсы</span></a></li>
        <li class="return"><a href="index.html"><span>Вернуться на основной сайт <img src="img/return.png" height="25px"></span></a></li>
    </ul>
</nav>